.header {
    background: white;
}

.hero1 {
    font-size: 1.875rem;
    background: black;
    color: rgb(255, 152, 0);
    margin: 0%;
    position: relative;
}

.hero2 {
    background: transparent;
    font-size: 1.875rem;
    color: transparent;
    margin-top: -2.7%;
    margin-bottom: 0px;
    position: relative;
}

h1 {
    color: black;
    font-size: 400%;
    font-family: 'Roboto', cursive;
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: -20px
}

h2 {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 600;
}
