main {
    background: white;
}

.menu {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.menu li {
    list-style: none;
    padding: 15px;
    display: inline-block;
}
